<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"
        link rel="stylesheet" href="//cdn.bootcss.com/bulma/0.5.1/css/bulma.min.css" charset="utf-8"
        title
            include(input.title)
    body
        include(input.content)
