class {
    onCreate() {
        this.state = {
            value: 0
        }
    }

    onIncrease() {
        this.state.value ++;
    }
}


style {
    .notification {
        width: 100px;
    }
}


site-layout
    @title -- Home
    @content
        mprogress value="${state.value}"
        mbutton on-increase('onIncrease')
