{% extends "index.html" %}

{% block container %}
    <div class="row">
    {% for c in cards %}
        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ c.domain }} - {{ c.ds_name }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ c.now() - c.error_at }}</p>
                    <button class="btn btn-primary">处理</button>
                    <button class="btn btn-danger">屏蔽</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $('document').ready(function () {
        $("#emit").click(function () {
            Sijax.request('list', 'test');
        });
    });
</script>

{% endblock %}
